<p>
	Search for information on your query sequences at other legume resources.
	This currently includes views on the reference genomes and measured expression levels for similar genes.
	Click on the query name for more details.
</p>
<p>
	<strong>Experimental Features</strong>. To view all your query sequences in full genomic context we've
	introduced global views using Genome Drawing Engine (GDE version 1.2, Kevin Feely, USDA-ARS)
	and <a href="http://www.ncbi.nlm.nih.gov/pubmed/15604756">Comparative map and trait viewer</a>
	(CMTV). Query sequences will be displayed on the full genomes of <i>Glycine max</i> (soybean), <i>Lotus japonicus</i>,
  <i>Cajanus cajan</i> (pigeon pea), and <i>Medicago truncatula</i>. Check out the <strong>GDE view</strong> and
  <strong>CMTV view</strong> links on search results page.
</p>
