<p>
	Search for information on your query sequences at other legume resources.
	This currently includes views on the reference genomes and measured expression levels for similar genes.
	Click on the query name for more details.
</p>
<p>
	<strong>Experimental Features</strong>. To view all your query sequences in full genomic context we've
	introduced global views using
	<a href="http://www.ncbi.nlm.nih.gov/pubmed/15604756">Comparative map and trait viewer</a>.
	Click on a CMTV view below to get started. Note that CMTV is a Java Web Start app, and it requires
	Java 1.5 or higher on your system. It probably will take a minute or so to load the first time you use it.
</p>
