<h1>Oops! The change you wanted was rejected.</h1>
<p>
	Maybe you tried to change something you didn't have access to. Please check your 
	URL or <%= link_to "click here", root_path %> to go home.
</p>