<h1>We're sorry, but something went wrong.</h1>
<p>
	We've been notified about this issue and we'll take a look at it shortly. Please check your
	URL or <%= link_to "click here", root_path %> to go home.
</p>
